* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181818;
  width: 100vw;
  overflow-x: hidden;
  
}

header {
  display: flex;
  background-color: black;
color: white;
  height: 3.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header img {
  margin-left: 2.5rem;
  margin-top: 1rem;
  width: 7rem;
  height: 2rem;


}

.headerButton{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 38vw;
    margin-right: 1rem;
    height: 100%;
}

#NavBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

#NavBtn p{
  font-size: 13px;
}

.joinN_Btn{
  background-color: red;
  color: white;
  height: 2rem;
  width: 7rem;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.Sign_In{
  color: white;
  height: 1.89rem;
  width: 7rem;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: 1px solid;
}


.movie_trailer {
  height: 92vh;
  width: 99vw;
  background-color: black;
  display: none;
}
#naruto {
  height: 81vh;
  width: 98vw;

  margin-bottom: 2rem;
  padding-top: 2rem;
  margin: auto;
}

.video_Cancel {
  border-radius: 20px;

  margin-left: 182vh;
  height: 20px;
  width: 30px;
  background-color: #d11c1c;
  transition: backgroounf-color, width 0.5s ease-in-out;
}
.video_Cancel:hover {
  background-color: rgb(255, 20, 20);
  width: 89px;
}

.details {
  display: flex;
  flex-direction: row;

  align-items: center;
  background-image: url("Movie Img/naruto-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 91.5vh;
  width: 100vw;
  box-shadow: 26rem 0 19rem rgb(22, 21, 21) inset;
}
.details img {
  width: 100vw;
}

.summary-img{
  margin-right: 14rem;

}

.summary-img img {
  height: 8rem;
  width: 5rem;
}
#naruto-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 100vh;
  background: none;
  color: white;
  padding-bottom: -1rem;
}

#movie-info {
  height: 9rem;
  width: 34rem;
}

#movie-info p {
  height: 3.5rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.more {
  cursor: pointer;
}
.less {
  display: none;
}

.show_Class{
  position: absolute;
  margin-left: -11rem;
  margin-top: 30rem;
  color: white;
  background-color: red;
  height: 2rem;
  width: 6rem;
  cursor: pointer;
  font-size: 13px;
  font-weight: 100;
  border: none;
  border-radius: 0px;
  transition: all 0.5s ease-in-out;
}

.show_Class:hover{
 height: 3rem;
 width: 9rem;
 font-size: 19px;
 font-weight: 400;
 border-radius: 20px;
}

.summary-img img {
  width: 20rem;
  margin-bottom: 6rem;
  transform: rotate(354deg);
}

h2 {
  color: white;
}


.watch_now{
  width: 90vw;
  height: 10vh;
  background-image: linear-gradient(90deg,#333 5%,#181818 95%);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 8px 5px 16px 0 rgba(0,0,0,.37);
 
  padding-left: 1.1rem;
  padding-right: 2rem;
}
.watch_now span{
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch_now span p{
  font-size: 18px;
    font-weight: 600;
    color: white;
}

.watch_now img{
  height: 65px;
  width: 65px;
  background: none;
}
.WATCH{
  border: none;
  height:2rem;
  width: 6rem;
  background-color: red;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.Details_Section{
 
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-left: 3rem;
    padding-right: 3rem;
    row-gap: 1rem;

}



.movie_details_section{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  /* margin-left: 4rem; */
  row-gap: 1rem;
    margin-top: 4rem;
    
    margin-bottom: 4rem;

}

.other_details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  color: white;
  /* justify-items: center; */
}

.cast{
 color: white;
  display: grid;
grid-template-columns: repeat(3,1fr);
justify-self: auto;
row-gap: 0.5rem;
font-weight: 400;
line-height: 22px;
}


.movie-details {
  width: 26rem;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  line-height: 22px;
}

h5 {
   font-size: 1.1rem;
   font-weight: 400;
  color: #a3a3a3;
   
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 5px;
}
  

.Other_related_movies{
  
  display: grid;

grid-template-columns: 33.333% 33.333% 33.333%;
grid-template-rows: 15rem 15rem 15rem;
width: 77rem;
height: 61rem;
 row-gap: 10px;
 column-gap: 10px; 

 cursor: pointer;
 
}

.Other_related_movies li{
  list-style: none;
  
  
}


.anime img{
  
  width: 100%;
  height: 100%;
 object-fit: cover;

 transition:  all 0.5s ease-in-out 0.1s;
}

.anime img:hover{
transform: scale(1.15);

}

h3{
  color: #fff;

  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
}

.Upcoming_Movies{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 20rem;
  column-gap: 10px;
  row-gap: 10px;
  width: 79rem;
  
  /* grid-template-rows:repeat(3,1fr) ; */
}

.upcoming_movie_details p{
 color: white;
 
 font-weight: 400;
 font-size: 1.1rem;
}
.read{
  width: 5rem;
  color: #a3a3a3;
  font-weight: 400;
    line-height: 18px;
}
.read1{
  width: 24rem;
  color: #a3a3a3;
  font-weight: 400;
    line-height: 18px;
    margin-top: 2rem;
}

footer{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5rem;
  row-gap: 2rem;
  margin-bottom: 4rem;
  column-gap: 1rem;
  width: 65rem;
  margin-left: 2.9rem;
}
footer h4{
  color: #737373;
  font-weight: 400;
}
.footer_section{
  color: #737373;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  row-gap: 1rem;
  column-gap: 10px;
  font-size: 15px;
}
.LNG-SLCT{
  width: 6rem;
  background-color: #000;
  /* background-image: none; */
  color: gray;
  border: 1px solid #333;
  height: 3rem;
}
footer p{
  color: #737373;
}

@media(max-width:414px){
  

  header {
    justify-content: start;
  }

  header img {
    width: 5rem;
    height: 1.8rem;
    margin-top: 10px;
    margin-left: 22px;
    
  }

  .headerButton{
    margin-left: 3.5rem;
    width: 15rem;
    column-gap: 5px;
  }

  #NavBtn{
    column-gap: 0;
    width: 11rem;
  }

  #NavBtn p{
    font-size: 9px;
  }
  .joinN_Btn{
    height: 29px;
    width: 111px;
  }
  .Sign_In{
    height: 26px;
    width: 103px;
    font-size: 11px;
  }

  .slected_movie_container{
    width: 100vw;
  }

  .movie_trailer{
    width: 100vw;
    height: 33vh;
  }
  .video_Cancel{
    margin-left: 19rem;
    margin-top: 1rem;
    height: 17px;
    width: 6rem;
    font-size: 12px;
    font-weight: 500;
  }
  #naruto{
    height: 34vh;
    padding-top: 0;
    width: 100vw;
  }
 

  .details{
    box-shadow: 161px 0 9rem rgb(22, 21, 21) inset;
    height: 33vh;
    background-size: contain;
  }

  

  #naruto-summary{
    width: 100vw;
    height: 100%;
    /* margin-left: 0.9rem; */
    padding: 0rem 0 0px 10px;
  }

  .summary-img{
    height: 4vh;
    width: 20vw;
    margin-right: 21rem;
    margin-bottom: 0rem;
    margin-top: 5rem;
  }
  .summary-img img{
    width: 6rem;
    height: 1rem;
  }

  #movie-info{
    width: 10rem;
    height: 6rem;
    margin-right: 16rem;
    margin-top: 1rem;
  }
  #movie-info p{
    height: 1.5rem;
    overflow: hidden;
    font-size: 9px;
    font-weight: 400;
    /* opacity: 0.9; */
    line-height: 12px;
  }

 
  .more{
    font-weight: 600;
    font-size: 11px;
    }
  .less{
    font-weight: 600;
    font-size: 11px;
    }

  .show_Class{
    margin: 15rem 20rem 0 0;
  }


  .watch_now{

    width: 88vw;
    height: 5vh;
  }

  .watch_now img{
    width: 54px;
    height: 40px;
  }


 .watch_now span p{
  font-size: 16px;
  font-weight: 500;
 }

 .WATCH{
  font-size: 17px;
  font-weight: 500;
 }

  .Details_Section{
    padding-left: 5px;
    padding-right: 1rem;
    height: 91rem;
    }

 h3{
  font-size: 21px;
  font-weight: 500;
  }
  .other_details{
    grid-template-columns: repeat(3, 132px);
    row-gap: 13px;
  }
  
  .movie-details{
    width: 100%;
    height: 100%;
    line-height: 19px;
  }
   h5{
    font-size: 11px;
    font-weight: 600;
    line-height: 0;
  }
  .movie-details span{
    font-size: 9.3px;
    font-weight: 500;
  }

  .cast{
    width: 99vw;
    column-gap: 0;
    row-gap: 0;
    grid-template-columns: repeat(3,136px);
  }

  .cast p{
    font-size: 10px;
    font-weight: 400;
  }

  .Other_related_movies{
    grid-template-columns: 33.333% 33.333% 31.333%;
    grid-template-rows: 6rem 6rem 6rem 6rem;
    width: 100vw;
    height: 27rem;
    row-gap: 5px;
    column-gap: 3px;
  }

  .anime img{
    width: 100%;
    height: 100%;
  }

  .Upcoming_Movies{
    width: 100vw;
    grid-template-columns: repeat(3,135px);
    height: 20rem;
    column-gap: 4px;
    row-gap: 10px;
}
  

 
  .upcoming_movie_details p{
    font-size: 9px;
    font-weight: 300;
  }

  .read{
    font-weight: 400;
    font-size: 9px;
    line-height: 1.1rem;
  }

  .read1{
    font-size: 12px;
    /* width: 86vw; */
    margin-top: 3rem;
    font-weight: 500;
    line-height: 15px;
  }

  footer{
    width: 372px;
    margin-top: 1rem;
    height: 73vh;
    grid-template-rows: 8px;
    margin-left: 1rem;
  }
  footer h4{
    font-size: 13px;
    font-weight: 600;
  }
  .footer_section{
    grid-template-columns: repeat(4,5rem);
    grid-template-rows: repeat(4,29px);
    row-gap: 3px;
    column-gap: 3px;
    font-size: 11px;
  }


.LNG-SLCT{
  height: 26px;
  font-size: 12px;
  width: 76px;
  margin-top: -11rem;
}
 footer p{
  font-size: 14px;
  font-weight: 400;
  margin-top: -19rem;
  height: 1px;
 }

}

@media(max-width:375px){


  
header{
  column-gap: 17px;

}

.headerButton{
  width: 62%;
  margin-left: 1rem;
}

.LNG-SLCT{
  margin-top: -6rem;
}
footer p{
  margin-top: -10rem;
}

.details{
  background-size: cover;
}
.summary-img{
margin-right: 18.5rem;
}

#movie-info{
  margin-right: 13rem;
}

.show_Class{
  height: 1.5rem;
  width: 6rem;
  font-size: 10px;
  margin-left: 10rem;
  margin-bottom: 3.2rem;
}

.watch_now span p{
  font-size: 14px;

}

.watch_now span img{
  height: 2rem;
width: 2.9rem;
}
.WATCH{
  height: 1.5rem;
  width: 6rem;
  font-size: 10px;
}

}

